/*Fonts setup*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

/*Color setup*/
:root {
    --primary: rgb(0,80,0);
    --primary-dark:  rgb(0,64,0) ;
    --primary-light: rgb(1, 126, 1);
    --black: #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #FFFFFF;
    --body: #fefefe;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--body);
}

/*Setup components*/

/* button */
.btn {
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary {
    padding: 12px 20px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--primary-dark);
}

.btn-outline-secondary:hover {
    background-color: var(--primary);
    border: 1px solid var(--gray-2);
    color: var(--white);
}

.btn-outline-secondary:focus {
    background-color: var(--primary);
    border: 1px solid var(--gray-2);
    color: var(--body);
}



/*Navbar*/

.navbar .btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar {
    padding: 32px 0;
}

.nav-link {
    margin-left: 41px;
    font-size: 18px;
    color: var(--primary-light);
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: var(--primary);
}

/*Hero setion*/
section.hero {
    padding: 60px 0 80px 0;
}

section.hero .text {
    font-weight: 800;
    font-size: 48px;
    line-height: 73px;
    color: var(--primary);
}

section.hero .hashtag{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--primary-light);
}

section.hero .home-text{
    padding-top: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #788190;
}

.buttons {
    padding-top: 20px;
}

.buttons .btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}


/* Footer setion*/
footer {
    padding-top: 279px;
    margin-bottom: 44px;
}

footer a {
    font-weight: bold;
    font-size: 14px;
    color: var(--black);
    line-height: 18px;
}

footer .copy {
    margin-top: 32px;
    font-size: 14px;
    color: var(--gray-1);
    line-height: 17px;
    font-weight: 400;
}

/*Responsive section*/
@media (max-width: 576px) {

    section.hero,
    section.setup,
    section.information {
        text-align: center;
    }

    /*Navbar*/
    .navbar {
        padding: 20px 0;
    }

    .nav-link {
        margin-left: 0;
    }

    /*Hero setion*/
    section.hero img {
        padding-top: 2.5rem;
    }

    section.hero .text {
        font-weight: 800;
        font-size: 38px;
        line-height: 53px;
    }

    .buttons .btn {
        display: block;
        margin: 1rem 0;
    }

    .buttons .ms-3 {
        margin-left: 0 !important;
    }

    /* Footer setion*/
    footer {
        padding-top: 50px;
        margin-bottom: 44px;
    }
}